.main-brand {
  font-size: 50px;
  text-align: center;
  font-weight: normal;
  font-family: cursive;
  margin: 40px 0;
}

.story-title {
  font-weight: normal;
  font-style: italic;
  font-size: 30px;
  margin: 15px 0;
  text-align: center;
}

.story-image {
  width: 100%;
}

.story-text {
  line-height: 1.5;
  font-size: 18px;
}

.row {
  display: flex;
  align-items: stretch;
}

.story {
  border: 1px solid #333;
  padding: 5px;
}

.quarter {
flex: 2;
}

.half {
  flex: 2
}
.full {
  flex: 3;
}

.nav-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-color: #555;
  font-weight: bold;
  font-family: sans-serif;

}
.nav-item:nth-child(1) { background-color: #ffeaa7; }
.nav-item:nth-child(2) { background-color: #81ecec; }
.nav-item:nth-child(3) { background-color: #55efc4; }
.nav-item:nth-child(4) { background-color: #ffeaa7; }
.nav-item:nth-child(5) { background-color: #74b9ff; }
.nav-item:nth-child(6) { background-color: #a29bfe; }
